.EntitiesList {
	width: 100%;
	padding: 20px;
}

.ItemDetails__img, .ItemDetails__detail {
	display: inline-block;
}

.ItemDetails__img img {
	max-width: 300px;
}

.ItemDetails__detail {
	vertical-align: top;
	padding-top: 20px;
	padding-left: 12px;
}

.ItemDetails__detail label {
	display: block;
}

.TableRow__value {
	padding-left: 8px;
	max-width: 300px;
}

.ItemDetails__detail table {
	border-spacing: 4px 12px;
}

.ItemDetails__detail table tr {
	vertical-align: top;
}